.option {
    background-color: #057DCD;
}

.closeIcon {
    height: 15px !important;
    padding-left: 10px;
}

.selcted-products-cnt {
    background-color: #17a2fe;
    padding: 0;
}

.profile-cnt select {
    color: var(--black) !important;
    border: 1px solid var(--black);
}