.advertisement-container {
    width: 60%;
    margin: 0 auto;
}

.advertisement-page-container {
    width: 60%;
    margin: 0 auto;
}

.profile-cnt .city-link,
.profile-cnt .category-link {
    color: var(--black) !important;
}

.adv-product-img-sm {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 4px solid white;
}

.advertisement-page-cnt {
    color: white;
    background-color: var(--blueLight);
    margin: 50px 0;
    padding: 20px;
}

.advertisement-page-cnt .rating-stars {
    margin-left: 10px;
}

.adv-img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 4px solid white;
}

hr {
    border: white 1px solid;
}

.products-adv {
    margin-top: 30px;
}

.text-shadow-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

.mr-sm {
    margin-right: 20px;
}

.adv-product {
    background-color: var(--blueLight);
    margin-top: 10px;
    width: 100% !important;
}

.adv-info {
    font-size: 20px;
}

.category-li {
    font-size: 15px;
    font-weight: normal;
}

.category-link {
    color: white;
    text-decoration: underline;
}

.tab {
    background-color: #057DCD;
    color: white;
    width: 50%;
    border-bottom: 5px solid white !important;
}

.tabs-custom {
    margin-top: 30px;
}

.comments-cnt {
    background-color: #5abcf5;
}

.user-comment-img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border: 2px solid white;
}

.user-comment-info {
    padding-left: 30px !important;
}

.comments-profile-link {
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.btn-delete-comment {
    background-color: var(--delete);
    bottom: 0;
    width: auto;
}

.btn-delete-comment:hover {
    background-color: var(--deleteHover);
    color: white;
}

.adv-img-sm {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 4px solid white;
}


@media screen and (max-width: 1400px) {
    .advertisement-page-container {
        width: 80%;
    }
}


@media screen and (max-width: 1000px) {
    .adv-img {
        width: 250px;
        height: 250px;
    }

}


@media screen and (max-width: 840px) {
    .adv-img {
        width: 200px;
        height: 200px;
    }

    .rate-stars-input {
        width: 30% !important;
    }

    .rate-btn {
        width: 30% !important;
    }

    .rate-input {
        width: 40% !important;
    }

}


@media screen and (max-width: 770px) {
    .adv-img {
        width: 200px;
        height: 200px;
    }

    .rating-stars {
        width: 40%;
    }

    .user-comment-info {
        width: 80% !important;
    }

    .comment-img {
        width: 20% !important;
    }

    .user-comment-img {
        display: block;
        margin: 0 auto;
    }
}


@media screen and (max-width: 730px) {
    .advertisement-page-container {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .adv-img {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .advertisement-page-container .row .col.s5,
    .advertisement-page-container .row .col.s7 {
        width: 100%;
    }

    .enter-comment-field {
        width: 60% !important;
    }

    .comment-btn {
        width: 40% !important;
    }
}


@media screen and (max-width: 555px) {
    .adv-img-sm {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .rating-stars {
        width: 30%;
    }
}


@media screen and (max-width: 500px) {
    .advertisement-page-cnt .col.s4 {
        width: 100% !important;
    }

    .adv-info {
        display: block;
    }

    .adv-product-img-sm {
        width: 120px;
        height: 120px;
    }

    .rate-stars-input {
        width: 50% !important;
    }

    .rate-btn {
        width: 50% !important;
        margin-bottom: 40px;
    }

    .rate-input {
        width: 100% !important;
    }

    .rating-form {
        margin-bottom: 0 !important;
    }

    .rating-input {
        margin-bottom: 0 !important;
    }

    .comment-text-btn-cnt {
        display: block;
    }
}


@media screen and (max-width: 350px) {
    .advertisement-page-container .rating-title {
        display: block;
    }

    .adv-img {
        height: 250px;
    }
}