:root {
    --blueDark: #057DCD;
    --blueLight: #43B0F1;
    --delete: rgb(242, 35, 35);
    --deleteHover: rgba(255, 0, 0, 0.433);
    --darkBack: rgb(203, 203, 203);
    --black: black;
    --semiBlack: rgb(115, 115, 115);
}

nav {
    background-color: var(--blueDark);
    padding: 0 30px;
}

.brand-logo {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

.materialize-nav {
    width: 100% !important;
    padding: 0 30px !important;
}

nav {
    width: auto !important;
    padding: 0 !important;
}

.navbar-new-msg-txt {
    color: rgb(224, 224, 32);
    font-weight: 700;
    line-height: 20px !important;
}