.info-value {
    font-weight: 300;
    margin-left: 10px;
}

.star-checked {
    color: rgb(224, 224, 32);
}

.star-unchecked {
    color: rgba(255, 255, 119, 0.477);
}

.category-link,
.city-link {
    text-decoration: underline;
    color: white;
}

.change-status-active {
    background-color: #5CD85A;
}

.change-status-active:hover {
    background-color: #c3ffc2;
}

.change-status-unactive {
    background-color: rgb(83, 83, 83);
}

.change-status-unactive:hover {
    background-color: rgb(204, 204, 204);
}